<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.starrism.mall.admin.core.mapper.BmsUserMapper">
    <resultMap id="BaseResultMap" type="org.starrism.mall.admin.api.domain.entity.BmsUser">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="nickname" jdbcType="VARCHAR" property="nickname"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="phone_number" jdbcType="VARCHAR" property="phoneNumber"/>
        <result column="avatar_url" jdbcType="VARCHAR" property="avatarUrl"/>
        <result column="enable_status" jdbcType="SMALLINT" property="enableStatus"/>
        <result column="add_time" jdbcType="TIMESTAMP" property="addTime"/>
        <result column="add_name" jdbcType="VARCHAR" property="addName"/>
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
        <result column="modify_name" jdbcType="VARCHAR" property="modifyName"/>
    </resultMap>

    <sql id="BaseColumnList">
        id,
        username,
        `password`,
        nickname,
        email,
        phone_number,
        avatar_url,
        enable_status,
        add_time,
        add_name,
        modify_time,
        modify_name
    </sql>

    <select id="findById" parameterType="long" resultMap="BaseResultMap">
        select
        <include refid="BaseColumnList"/>
        from bms_user
        where id = #{id,jdbcType=BIGINT}
    </select>

    <insert id="addUser" parameterType="org.starrism.mall.admin.api.domain.entity.BmsUser">
        insert into bms_user (id, username, `password`,
                              nickname, email, phone_number,
                              avatar_url, enable_status, add_time,
                              add_name, modify_time, modify_by)
        values (#{id,jdbcType=BIGINT}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
                #{nickname,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{phoneNumber,jdbcType=VARCHAR},
                #{avatarUrl,jdbcType=VARCHAR}, #{enableStatus,jdbcType=SMALLINT}, #{addTime,jdbcType=TIMESTAMP},
                #{addName,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}, #{modifyName,jdbcType=VARCHAR})
    </insert>
</mapper>